{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <img height=100 src="./sci-cloj-logo-transparent.png">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-12 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}/community/getting_involved" role="button">Get involved</a>
    </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-7">
        <h2 class="h4"><a href="docs/resources/libs">A data science stack</a></h2>
        <p>Scicloj is building a set of tools and libraries for data-science and scientific computing in Clojure.</p>
      </div>
      <div class="col-lg-7">
        <h2 class="h4"><a href="docs/resources">Learning resources</a></h2>
        <p>Scicloj is running study groups and workshops and creating learning resources -- for Clojurians interested in data science, and for data scientists interested in Clojure.</p>
      </div>
      <div class="col-lg-7">
        <h2 class="h4"><a href="docs/community/groups">Dev groups</a></h2>
        <p>Scicloj is a platform for open-source dev groups to meet, collaborate, and create their joint knowledge.</p>
      </div>
      <div class="col-lg-7">
        <h2 class="h4"><a href="docs/community/getting_involved">Open-source mentoring</a></h2>
        <p>Scicloj is encouraging newcomers to join open-source projects and helping them throughout their journey.</p>
      </div>
   </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
